body{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h3{
    margin-top: 0px;
}

header > div{
    border-bottom: 15px solid white;
}

main > div{
    border-bottom: 15px solid white;
}

.header-wrapper{
    background-color: #F1C2CF;
    width: 1500px;
    height: 180px;
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
    margin: 0px 100%;   
}

.header-wrapper .logo-item{
    height: 100%;
    overflow: hidden;
}

.header-wrapper .logo-item img{
    height: 100%;
    width: 100%;
    position: relative;
}

.header-wrapper .header-info{
    font-size: 50px;
}

.header-wrapper .header-info .number{
    font-size: 60px;
}

.navigation-bar{
    background-color: #B7B1B1;
    height: 80px;
    width: 1500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation-bar .nav-element{
    background-color: #595059;
    width: 180px;
    height: 50px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-wrapper{
    display: flex;
    width: 1500px;
}

.about-wrapper .about-img img{
    width: 500px;
}

.about-wrapper .about-text{
    font-size: 50px;
    margin-left: 30px;
}

.stock{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AA3560;
    height: 70px;
    width: 1500px;
    font-size: 30px;
}

.products{
    width: 1500px;
}

.slider-container {
    overflow: hidden;
    position: relative;
}

.slider-track {
    width: 1500px;
    display: flex;
    transition: 1s;
}

.slider-item {
    padding: 10px;
}

#products-slider .slider-item{
    background-color: #F1C2CF;
}

#products-slider .slider-item .item-content button{
    background-color: #AA3560;
}

#feedback-slider .slider-item{
    background-color: #AA3560;
}

.slider-item .item-content .stars{
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.slider-item .item-content .stars img{
    width: 30px;
    height: 30px;
}

.slider-item .item-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 280px;
    width: 280px;
}

.slider-item .item-content img{
    width: 220px;
    height: 220px;
}

.slider-item .item-content button{
    border: none;
    border-radius: 50px;
    width: 120px;
    height: 35px;
    margin-top: 10px;
}

.track-artist {
    color: #999999;
}

.celebrity-feedback{
    display: flex;
    background-color: #1C1A1F;
    width: 1400px;
    height: 500px;
    padding: 50px;
}

.celebrity-feedback .feedback-text{
    color: white;
    font-size: 50px;
}

.celebrity-feedback .celebrity-image{
    margin-left: 50px;
}

.celebrity-feedback .celebrity-image img{
    height: 500px;
}

.feedback{
    background-color: #AA3560;
    width: 1500px;
    height: 300px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-wrapper{
    display: flex;
    width: 1450px;
    height: 300px;
    background-color: #1C1A1F;
    padding: 25px;
}

.map{
    margin-right: 25px;
}

.footer-text{
    color: white;
    font-size: xx-large;
}

.cursor-pointer:hover{
    cursor: pointer;
}